.container{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}
.navbar{
    border: 1px solid black;
    background-color: #FFFFFF;
    ul{
        display: flex;
        justify-content: center;
        li{
            padding: 10px 20px;
            &:hover{
                background-color: #CCCCCC;
            }
        }

    }
}
.textBox{
    border: 1px solid black;
    padding: 10px;
    ul li{
        display: none;
    }
}
.see{
    display: inline !important;
    background-color: #CCCCCC;

}